<div class="cart_title"><%= t('.title') %></div>
<table>
  <%= render(cart.line_items) %>
  <% cart.line_items.each do |item| %>
    
  <% end %>

  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_locale_currency(cart.total_price) %></td>
  </tr>
</table>

<%= button_to t('.checkout'), new_order_path, method: :get unless @hide_checkout_button %>
<%= button_to t('.empty'), cart, method: :delete,
      confirm: t('.fuckinsure'), remote: true %>
